.card {
    height: 100vh;
    width: 75vw;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    text-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
}

/* .card>img {
    z-index: 1;
    position: relative;
    top: 0;
    max-width: 75vw;
    height: auto;
} */

.card>h1 {
    position: relative;
    top: -30%;
    left: -40%;
    font-size: x-large;
    z-index: 2;
    color: var(--orange);
}

.card>h2 {
    position: relative;
    top: -32%;
    left: 40%;
    font-size: x-large;
    z-index: 2;
    color: var(--orange);
}

.info {
    position: relative;
    top: 40%;
    left: 40%;
    z-index: 2;
    line-height: 2rem;
    font-size: larger;
    color: aliceblue;
    padding-right: 2rem;
}

.like {
    position: relative;
    scale: 200%;
    top: 30%;
    left: -45%;
    z-index: 2;
    line-height: 2rem;
    font-size: larger;
    color: aliceblue;
}