:root {
    --black: #000;  
    --jet: #353535ff;
    --blue: #3c6e71ff;
    --white: #ffffffff;
    --platinum: #d9d9d9ff;
    --indigo: #284b63ff;
    --bright: #a9def9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "urbanist";
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'urbanist';
    src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'urbanist-italic';
    src: url(./assets/fonts/Urbanist-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'sacramento';
    src: url(./assets/fonts/Sacramento-Regular.ttf);
}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }

/* Like/Dislike button styling */
.btnLD-container {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    background-color: #fff;
    padding: 30px 50px;
  }
  
.btnLD {
    border: none;
    color:#fff;
    display: flex;
    align-items: center;
    gap:6px;
    background-color: #bdc0c5;
    border-radius: 5px;
    padding: 6px 15px;
    margin: 0 10px;
  }

.like-active { 
    background-color: lightgreen;
  }
  
.dislike-active { 
background-color: lightcoral;
}