.account {
    padding: 5rem;
    margin: 5rem;
}

.account>form {
    margin: 5rem;
    border: 2px solid black;
}

.upload {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
}

.submit {
    margin-right: 1rem;
    padding: .25rem;
}

.thumbnail {
    border: 2px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.thumbnail>p {
    width: 15rem;
}

.thumbnail>img {
    height: 15rem;
    width: 15rem;
    
}