/* Admin.jsx */

.admin {
    padding: 5rem;
    margin: 5rem;
    display: flex;
    /* flex-direction: column; */
 }

.admin__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        /* justify-content: space-around; */
        width: auto;
        height: auto;
        /* background: rgb(244, 101, 36); */
        background: radial-gradient(
          circle at top center,
          rgba(244, 101, 36, 1) 0%,
          rgb(253, 81, 29) 50%,
          rgba(252, 176, 69, 1) 100%
        );
        color: var(--white);
        border-radius: 15px;
        box-shadow: 5px 5px 20px black;
}

table, th, td {
    border-radius: 6px;;
    text-decoration: none;
    width:fit-content;
    height: auto;
    margin-bottom: .5rem;
    box-shadow: 1px 1px 5px black;
    background: rgb(9, 117, 121);
    background: linear-gradient(
        90deg,
        rgba(9, 117, 121, 1) 0%,
        rgba(0, 212, 255, 1) 49%,
        rgba(9, 117, 121, 1) 100%
    );
}
.contain {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
}
.contain:hover {
    max-height: none;
    max-width: none;
}

table {
    width: 100%;
    border-collapse: collapse;   
    
}

td, th {
    padding: 8px;
    text-align: left;  
}
@media (max-width: 767px) {
    td, th {
        display: block;
        width: 100%;
    }
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
  }

  @media screen and (max-width: 767px) {
    .table-container {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .table-container {
      font-size: 12px;
    }
  }
@media (min-width: 600px) {
    .conversion-rate-table {
        display:table;
    }
}

.product__box {
    max-width: 80%;
}

.centered-button {
    display: block;
    margin: 0 auto;
}