.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: white;
}

.navbar > h1 {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.navbar > ul {
  display: flex;
  width: fit-content;
  padding: 0.5rem 0;
}

.navbar > ul > li {
  list-style: none;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}
.navbar > h1 {
  font-weight: 200;
}

.phile {
  font-family: "sacramento";
  font-size: 36px;
  font-weight: 400;
}

.main-search {
  border-left: 2px solid black;
  padding-left: 1rem;
  display: flex;
  max-width: 15rem;
  height: 2rem;
  border-right: 2px solid black;
  transition: 700ms;
  padding-top: 0.75rem;
}

.main-search > input {
  position: relative;
  top: -0.6rem;
  max-width: 15rem;
  height: 2rem;
  background: transparent;
  border: none;
  margin-left: 5px;
  padding-left: 5px;
  color: var(--black);
  width: 190px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: linear-gradient(to right, var(--bright) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.main-search > input::placeholder {
  opacity: 1;
  font-weight: bold;
}

.main-search > input:focus {
  outline: none;
  background-position: left bottom;
}



@media (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    padding: 1rem;
  }
}

@media (768px <=width <=1023px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .navbar > h1 {
    order: -1;
    width: 100%;
    text-align: center;
  }

  .main-search {
    scale: 90%;
    margin-bottom: 1rem;
  }
}
